@charset "ISO-8859-1";


body
{
	overflow-x:scroll;
}
.stil
{
	background-color: lightgray;
	shadowWidth: blue;
	color: green;
	
}
.msg-read
{
    background-color: azure;
    border-top:0;
    border-left:10px;
    width: 200px;
    height: 200px;
    resize: none;
    overflow-y: scroll;
}
.msg-whole-chat-box
{
	background-color: lightblue; 
    border-top-left-radius: 25px;
    
    
    
}
.msg-label
{
	background-color:lightblue;
    display: block;
    
}
.msg-input
{
	border-top:0;
	border-left:0;

    background-color: lightblue;
    width: 200px;
    height: 30px;
    resize: none;
	overflow-y: scroll;
    font-size:14px;
    color:black;
    
}

.msg-attachment
{
    align-content: center;
    border-top:0;
	border-left:0;
    background-color: lightblue;
    width: 200px;
    height: 30px;
    resize: none;
	overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

}

/*promenimo ime*/
.msg-dugme
{
	background-color: lightcyan;
    width: 200px;	
}
.msg-box
{
	display:none;
    
    
}
.color-pink
{
	background-color:deeppink;
}

.friend-list {
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height:500px;
  border: 3px solid #73AD21;
}

.chatboxes {
  position: fixed;
  background-color: aqua;
  overflow-x:scroll;
  bottom: 0px;
  left: 0;
  width: 80% ;
  height:400px;
  display: inline-flex;
  border: 3px solid #73AD21;
    
    
}
.chatbox
{
	
	width: 50px;
	height:150px;
	position:fixed;
}
.template
{	
    visibility: collapse;
    
}

.nw-100
{
	width: 99%;
}
.nw-75
{
	width: 74%;
}
.nw-50
{
	width: 49%;
}
.nw-25
{
	width: 24%;
}
.nrow
{
    float: left;
    background:red;
}

.msg-icon-delete
{

	float:right;
	margin-left: 5px;
	color:blue;
	cursor: pointer;
}
.msg-icon-minimize
{
	float:right;
	margin-left: 5px;	
	color:blue;
	visibility: hidden;
	cursor: pointer;
}
.msg-icon-more
{
	/*
	float:right;
	left:120px;
	margin-right:20px;
	cursor:pointer;
	*/
	float:right;
	margin-right:20px;
	margin-top:2px;
	cursor:pointer;
	color:aqua;
}
.msg-icon-attach
{
	//postion:absolute;
	float:right;
	/*left:120px;*/
	margin-right:20px;
	color:black;
	cursor:pointer;
}
.msg-div-more
{
	background-color: azure;
	border-bottom:0;
		
}
.friend-selector
{
	display: block;
	width:100%;
	background:linear-gradient(to right, lightblue 0%, azure 100%);
    
}
.msg-msg
{
	background-color:white;
/*	border-radius: 25px;*/
	font-size: 15px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}
.msg-status
{
    
    background-color:white;
/*	border-radius: 25px;*/
    float: right;
    margin-top: 0px;
    padding-top: 0px;
	font-size: 7px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	
}
.msg-name
{
    
    background-color:white;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
	font-size: 12px;
	
}
.user-details
{
  font-size: 25px;	
  position: fixed;
  background-color: aqua;
  top: 0;
  right: 0;
  width: 20% ;
  height: 100px;
}
.msg-container
{
	clear: both;
}
.droptarget {
  float: left; 
  width: 100px; 
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.dd
{
    width: 100px;
    height: 100px;
    color:blue;
    background-color: aqua;
}


.msg-img
{
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
}
.msg-file-delete
{
	position:relative;
	top:-10px;
	left:-12px;
	color:blue;
    font-size: 10px;
    overflow: visible;
    cursor: pointer;
}