@charset "ISO-8859-1";

.stil
{
	background-color: lightgray;
	shadowWidth: blue;
	color: green;
	
}
.color-pink
{
	background-color:deeppink;
}

.friend-list {
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height:500px;
  border: 3px solid #73AD21;
}

.chatboxes {
  position: fixed;
  background-color: aqua;
  bottom: 0px;
  left: 0;
  width: 80% ;
  height:50px;
  border: 3px solid #73AD21;
}

.template
{	
    visibility: collapse;
    
}

.nw-100
{
	width: 99%;
}
.nw-75
{
	width: 74%;
}
.nw-50
{
	width: 49%;
}
.nw-25
{
	width: 24%;
}
.nrow
{
    float: left;
    background:red;
}